.contenedor{
    display: flex;
    width: 500px;
    height: 250px;
    background-color: cornsilk;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(90, 41, 13);
    border-radius: 25px;
}

.imagen{
    height: 100%;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
}
article{
    padding: 15px;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(172, 118, 53);
}